.churches-header {
  width: 100%;
  height: 450px;
  background: url('Location.png') no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.churches__selector {
  display: flex;
  margin-left: 105px;

}
.churches-selector {
    overflow-y: scroll;
    height: 400px;
    width: 400px;
}
.churches-header__title {
  width: 45%;
  text-align: center;
  font-size: 40px;
}
.churches-header__button {
  background: transparent;
  border: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px
}
.churches-header__button:hover {
  text-decoration: underline;
}
.churches-selector__church
{
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 16px;
}
