.article-section-two
{
  width: 31%;
  margin: 8px;
  padding: 16px;
}
#section-two
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
  padding: 0px 50px; 
}
#section-two h4
{
  text-align: center;
  font-size: 24px;
}
#section-two p
{
text-align: center;
font-size: 14px;
align-items: flex-start;
}
#section-two img {
  height: 150px;
  width: auto;
}

@media screen and (min-width: 100px) and (max-widht: 451px) {
  #section-two {
    flex-direction: column;
    align-items: center;
  }
  .article-section-two
  {
    flex-direction: column;
    width: 90%
  }
}
@media screen and (min-width: 450px) and (max-width: 1100px) {
  .article-section-two {
    flex-direction: column;
    width: 90%;
  }
}
