header
{
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #FDFEF5;
  margin-bottom: 20px;
}
.wrapper
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10%;
  margin-left: 10%;
}
nav
{
  display: flex;
  align-items: center;

}
.logo
{
  width: 45%;
}

header nav a
{

  display: inline-block;
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  -webkit-transition:all 500ms ease ;
  -0-transition:all 500ms ease ;
  transition:all 500ms ease ;
}
header nav a:hover
{
  background: #3C69BD;
  border-radius: 50px;
  color: #fff;
}
