footer {
  background: #343333;
  color: #fff;

}

.article-section-four{
  width: 31%;
  margin: 0 1%;
  padding: 16px;
}

#section-four{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}


#section-four h4 {
  text-align: center;
  font-size: 16px;
}

#section-four p  {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  font-family: sans-serif;

}

.hola
{
  margin: 0px 15px;
}

.array {
  display: flex;
  margin: 0 31%;
  margin-top: 15px;
  align-items: center;
}
.array2
{
  margin: 0px 10px;
}

@media screen and (max-width: 500px){
  #section-four {
    flex-direction: column;
    align-items: center;
    flex-wrap: ;
  }
  .article-section-four {
    flex-direction: column;
    width: 110%;
    align-items: center;
    align-content: space-between;
  }
  .logo_footer{
    height: 150px;
    width: auto;
  }
  .hola {
    height: 50px;
    width: auto;

  }
}
@media screen and (min-width: 501px) and (max-width: 1080px) {
  #section-four {
    flex-direction: column;
    align-items: center;
    align-content: space-between;

  }
  .article-section-four {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

}
