@import url('https://fonts.googleapis.com/css?family=PT+Sans:400i&display=swap');
footer {
  background: #343333;
  color: #fff;

}

.article-section-four{
  width: 31%;
  margin: 0 1%;
  padding: 16px;
}

#section-four{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}


#section-four  {
 font-family: 'PT Sans', sans-serif;
  text-align: center;
  font-size: 16px;
}

#section-four p  {
  text-align: center;
  font-size: 14px;
}
