
.article-section-one
{
width: 30%;
margin: 8px;
padding: 16px;
}
#section-one
{
display: flex;
justify-content: space-around;
align-items: flex-start;
text-align: center;
flex-wrap: wrap;
}
#section-one h4
{
text-align: center;
font-size: 24px;
}
#section-one p
{
text-align: center;
font-size: 14px;
}
#section-one a
{
  justify-content: space-around;
}
#section-one img {
  height: 150px;
  width: auto;
}

@media screen and (min-width: 100px) and (max-widht: 500px) {
  #section-one {
    flex-direction: column;
    align-items: center;
  }
  .article-section-one {
    flex-direction: column;
    width: 90%;
  }
}
@media screen and (min-width: 501px) and (max-width: 780px) {
  .article-section-one {
    flex-direction: column;
    width: 90%;
  }
}
