
.article-section-one
{
width: 31%;
margin: 0 1%;
padding: 16px;
}
#section-one
{
display: flex;
justify-content: space-around;
align-items: flex-start;
text-align: center;
}
#section-one h4
{
text-align: center;
font-size: 24px;
}
#section-one p
{
text-align: center;
font-size: 14px;
}
#section-one a
{
  justify-content: space-around;
}
